<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  <a class="navbar-brand" href="/index.html" style="font-size: 1.5rem;">The Weave Finder</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/search">Find a Weave</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/browse-weaves">Browse Weaves</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/suggest">Suggest a Weave</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="">Resources</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="">User Login</a>
      </li>
    </ul>
  </div>
</nav>