<div style="text-align:center">
  <section id="hero">
    <div class="overlay">
      <div class="headline">
        <h1 class="display-4">
          Weave Database
        </h1>
        <h4>Browse around for ideas!</h4>
      </div>
    </div>
  </section>
</div>

<section id="about">
  <div class="container">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12 about-text">
          <div class="media">
            <div class="media-body text-center">
              <p class="lead mb-0">
                Not sure what to work on or just want to see if something is already here?  Take a scroll and see what is included in this site.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="weave-list">
  <div class="container">
    <h1 class="text-center mb-5">Weaves</h1>

    <app-weave-list></app-weave-list>
    <router-outlet></router-outlet>
  </div>
</section>