#hero {
	background: #222 url('/assets/img/chainmaile-placeholder.jpg') center center no-repeat;
	background-size: cover;
	color: white;
} 

#hero .overlay {
  background: rgba(0,0,0,0.6);
}

#hero .headline {
	padding: 5rem 0;
}

#about .container {
	padding: 5rem 0;
}

#about p {
	padding: 1rem;
}

#searchForm .container {
	padding: 0 0 3rem 0;
}

#after {
	padding-top: 2rem;
}

#searchForm .btn-success {
	margin: 0 0 2rem 0;
}