<div style="text-align:center">
  <section id="hero">
    <div class="overlay">
      <div class="headline">
        <h1 class="display-3">
          Welcome to {{title}}!
        </h1>
        <h3>What can you do with 12g 1/2" rings? Find out here!</h3>
      </div>
    </div>
  </section>
</div>


<section id="about">
  <div class="container">
    <div class="col-md-12">
      <h2 class="text-left">What It Does</h2>
      <div class="row">
        <div class="col-md-12 about-text">
          <div class="media">
            <img class="d-flex align-self-center mr-3 img-fluid img-thumbnail" src="/assets/img/chainmaile-placeholder-2.jpg" alt="a placeholder that I shouldn't use"
              style="max-width: 25%" />
            <div class="media-body text-left">
              <p class="mb-0">
                It's happened to all of us. Put in a big ring order...and forget why you ordered those 18g 5/32" rings. (Not me, I make everything with those.) Or ordered some so
                long ago that their purpose has been lost to the ages. Maybe you just have a lot of leftovers and a desire
                to experiment, but aren't sure what you can do with the sizes you have in stock. Or, you want to try a particular
                weave, but don't know if your existing rings will work.
                <br>
                <br> Enter The Weave Finder! Simply enter the ring sizes you are interested in using (awg only at this time),
                and TWF will return the weaves that can utilize that size.
                <br>
                <br> This project is a work in progress. Currently TWF will only search a single size of ring, and weaves
                are limited. As my skills with this framework expand, I hope to extend the boundaries to include more weaves
                and a more robust search function. For now, this is just for funsies.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="getStarted">
  <div class="container">
    <div class="col-md-12">
      <h2 class="text-right">Get Started</h2>
      <div class="row">
        <div class="col-md-12 about-text">
          <div class="media">
            <div class="media-body text-right">
                <ul>
                  <li>
                    <a class="nav-link" routerLink="">Find a weave by ring size</a>
                  </li>
                  <li>
                    <a class="nav-link" routerLink="/browse-weaves">Browse weaves</a>
                  </li>
                  <li>
                    <a class="nav-link" routerLink="/suggest">Suggest a weave</a>
                  </li>
                  <li>
                    <a class="nav-link" routerLink="">Resources</a>
                  </li>
                  <li>
                    <a class="nav-link" routerLink="">Registered user area</a>
                  </li>
                </ul>
            </div>
            <img class="d-flex align-self-center mr-3 img-fluid img-thumbnail" src="/assets/img/chainmaile-placeholder-3.jpg" alt="another placeholder that I shouldn't use"
              style="max-width: 25%" />
          </div>
        </div>
      </div>
    </div>
  </div>
  
</section>